[Unit]
Description=Moonshadow NVR LPR Dynamic Training
After=network.target

[Service]
Type=oneshot
User=ale
WorkingDirectory=/home/ale/proyectos/moonshadow-nvr
ExecStart=/home/ale/proyectos/moonshadow-nvr/lpr-hub.sh train
